.nav{
	background-color: white;
	width: 150px;
	border-radius: 25px;
	z-index: +1;
}

.affix {
	bottom: 50px;
	right: 10px !important;
}

.lightblue{
	background-color: lightblue;
}

.lower-footer{
	display: block;
	text-align: center;
	color: white;
}

.lower-footer a{
	color: white;
}