.nav{
	background-color: white;
	width: 150px;
	border-radius: 25px;
}

.affix {
	bottom: 50px;
	right: 10px !important;
}

.lightgreen{
	background-color: #80b0a9;
}

.tan{
	background-color: #d2b47e;
}

.upper-footer{
	box-sizing: border-box;
	display: block;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.lower-footer{
	box-sizing: border-box;
	display: block;
}