* {
	font-family: 'Lato';
}
.body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
.navbar {
	min-height: 40px!important;
}
.navbar-default {
	border-color: transparent;
	margin-bottom: 0;
	background: rgba(255, 255, 255, 0.7);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}
.navbar-nav>li>a {
	padding: 10px!important;
	font-size: 1.5em;
	color: #623238!important;
	font-weight: 300;
}
.width300 {
	width: 300px;
	max-height: 300px;
}
.media-body {
	vertical-align: text-top;
}
a.navbar-brand {
	height: 40px;
    padding: 10px 10px 10px 15px;
    font-size: 1.5em;
    line-height: 20px;
    margin: auto;
	color: #623238!important;
	font-weight: 300;
}
.navbar-default .navbar-toggle .icon-bar  {
    background-color: #623238;
}
.navbar-default .navbar-toggle {
    border-color: #623238;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.51);
}
.cover img {
	position:absolute;
	top:20%;
	left:9%;
	opacity: 0.7;
	margin: 0 0 0 -1px;
	padding:2px 0 0;
	display:block;
	width:100%;
	height:auto;
}
.opacity {
	opacity: 0.5;
}
h2#text-box {
	position: absolute;
    bottom: 2800%;
    left: 51%;
    z-index: 20;
    font-size: 5em!important;
    font-weight: 200;
    color: #623238;
    padding: 1%;
    width: 100%;
    text-shadow: none;
}
.carousel-caption {
	padding: 0.5%;
}
.affix {
	bottom: 10%;
	right: 5% !important;
}
.opacity {
	opacity: 0.5;
}
#text-box h2 {
	position: absolute;
	display: block;
	top: 25%;
	left: 60%;
	z-index: 20;
	color: #ffffff;
	font-size: 550%;
	font-family: 'Lato';
	font-weight: 200;
}
#text-box {
	color: #ffffff;
}
.affix {
	bottom: 50px;
	right: 10px !important;
}
.btn{
	color: #ffffff;	
	display: inline-block;
}

.container i{
	vertical-align: center;
}
.lightblue{
	background-color: #a6797e;
}
#About {
	font-size: 1.3em;
	background: #a6797e;
	height: 100%;
	width: 100%;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
}
#About p {
	color: #dfcdcf;
	font-size: 1em!important;
}
#heading1 {
	margin-top: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 2.5em;
  	font-weight: 300;
  	margin-bottom: 20px;
}
.heading2 {
	color: #623238;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.8em;
  	font-weight: 300;
  	margin-bottom: 20px;
}
.title1 {
	color: #3C0B11!important;
	font-weight: 380!important;
	margin-bottom: 5px;
}
.title2 {
	color: #623238;
	font-weight: 450;
}
.nomarginbottom {
	margin-bottom: 0;
}
.margincustom {
	margin-bottom: 5px;
}
.size{
	font-size: 0.7em!important;
}
#singlebutton{
	background-color: #86575B;
	border-color: #86575B;
	font-size: 0.7em;

}
.telefon {
	color: #623238;
	font-size: 1.3em;
	padding: 1%;
	text-align: center;
} 
.row{
	padding: 1%;
}
label {
	width: 300px;
}
input {
	border: none;
	border-bottom: 1px solid rgba(98, 50, 56, 0.59);
	padding-left: 4px;
	width: 300px;
	vertical-align: text-bottom;
}
::placeholder {
	color: #86575B;
	opacity: 0.3;
	font-weight: 400;
	padding-right: 3px;
}
#message {
	height: 70px;
}
.white {
	color: #ffffff!important;
}
a.btn1 {
	color: #ffffff;
}
.btn1 {
	color: #ffffff;	
	display: inline-block;
	width: 33%;
}
.lower-footer span{
	font: helvetica;
	font-size: 1em;
}
#footer {
	position: absolute;
	width: 100%
}
ul.teamlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#team{
	height: 100%
	width:100%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: none;
	padding-left: none;
}
.teamimg{
	max-height: 378px;
	width: auto;
	margin: 0;
}

.teamlist image{
	display: block;
}

.teamlist {
	list-style: none;
	margin: 0;
	overflow: hidden;
	width: 100%
}
#imglist{
	padding-left: 1%;
	padding-right: 1%;
}
.list-inline{
	padding-bottom: 40px;
}
li.box1 {
	width: 300px!important;
}
#teamheader h2{
	margin-top: 5%;
	color: #623238;
}
.text-box-team h4{
	color: #a6797e;
}
#teamheader .title2{
	margin-bottom: 13px;
}
.title3 {
	margin-bottom: 0px;
}
ul.nav.nav-pills.teamlist, .width300 {
	margin-bottom: 15px;
}
.notop {
	margin-top: 0;
	font-weight: 300;
}
h4 {
	font-weight: 300;
	margin-bottom: 3px;
	margin-top: 3px;
}
.margin3 {
	margin-bottom: 3px!important;
	color: rgba(98, 50, 56, 0.78);
}
.media {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
/*	height: 300px;*/
	flex-direction: row;
}
/*img.media-left.media-middle/*, */.media-body {
	width: 60%;
}
div.center {
	width: 100%;
    text-align: center;
}
#Services {
	padding-bottom: 20px;
	padding-top: 15px;
	color: #623238;
	width: 100%;
}
.burgundy {
	color: #623238;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #623238;
    background-color: #ffffff;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: rgba(255, 255, 255, 0.44);
	color: #623238;
}
a:focus, a:hover {
	color: rgba(255, 255, 255, 0.44);
}
.btn{
	color: #ffffff;	
	display: inline-block;
}
.container i{
	vertical-align: center;
}
input.burgundy {
	background-color: rgba(198, 137, 141, 0.48);
	border-color: transparent!important;
	border-radius: 5px;
	width: 20%;
	margin-right: 20%;
}
.marginright{
	margin-right: 40px!important;
}
div.colour2 {
	width: 100%;
    background-color: rgba(250, 227, 229, 0.4);
    padding-top: 10px;
    padding-bottom: 40px;
}
div#Contact {
	padding-top: 10px;
}